# ========================
# Node.js dependencies
# ========================
node_modules/

# ========================
# Build outputs (Next.js)
# ========================
.next/
out/
build/
.turbo/

# ========================
# Testing
# ========================
coverage/

# ========================
# Debug logs
# ========================
npm-debug.log*

# ========================
# Production secrets
# ========================
*.pem

# ========================
# Environment variables
# Ignore env files except for the public example
# ========================
.env.development
.env.production
.env.test
.env.*
!.env.example

# ========================
# Editor/IDE configs
# ========================
.DS_Store
.vscode/
.idea/

# ========================
# TypeScript
# ========================
*.tsbuildinfo
next-env.d.ts

# ========================
# Vercel deployment config
# ========================
.vercel

# =============================
# Firebase hosting nbc-home-app
# =============================
.firebase
.firebaserc
firebase.json